.text-input {
  /* margin-left: 0px;
  margin-right: 0px; */
}

.contact {
  height: 70px;
}

.contact:hover {
  background-color: #262B34;
  cursor: pointer;
}

.chats-header {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 100;
  background: #373d47;
}

.scrollable-chats {
  position: absolute;
  width: 100%;
  top: 120px;
  overflow: auto;
}

.three-dots-contact{
  float: right;
  position: relative;
  top: -60px;
  right: 15px;
}

.search-chats {
  width: 100%;
  padding: 10px;
}

.last-message-hour-div {
  position: relative;
}


.last-message-hour {
  position: absolute;
  top: -60px;
  right: 55px;
}

.contact-more-icon {
  position: absolute;
  top: -47px;
  right: 5px;
}

.pin-icon {
  position: absolute;
  top: -35px;
  right: 50px;
}

.three-dots-chats-header {
  position: relative;
  top: -10px;
}

.unraed-badge {
  position: absolute;
  top: -35px;
  right: 80px;
}
