.stick-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 50px;
  background: #F8C301;
}
.stick-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  background: #B8DC7C;
}
.scrollable-chat {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: 100%;
  overflow-y: scroll;
}
.scrollable-list {
  position: absolute;
  top: 100px;
  width: 100%;
  overflow-y: scroll;
}
.left{
  position:a bsolute;
  background: #3BB3C3;
  height: 100%;
  width: 150px;   /* See #right left value */
  overflow: auto; /* make scrollable if content overflows */
}
.right{
  position: absolute;
  right: 0;
  left: 150px; /* compensate #left width */
  bottom: 0;
  height: 100%;
  background: #EE9B69;
}
.message {
  border-radius: 10px;
}
.input-message {
  /* border-radius: 5px; */
  width: 100%;
}
.icon {
  height: 50px;
  width: 50px;
  margin: 20px;
  text-align: center;
  display: inline-block;
}
/* .circle {
  height: 40px;
  width: 40px;
} */
