body {
  color: white;
  background: #1D212A;
}
.icon {
  height: 50px;
  width: 50px;
  margin: 20px;
  text-align: center;
  display: inline-block;
}
/* .cetner {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
} */
