.conversation {
  height: calc(100% - 12px);
  position: relative;
  background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
  z-index: 0;
}
.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
}
.conversation-compose div,
.conversation-compose input {
  background: #fff;
  height: 100%;
}
.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
}
.conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;
}
.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}


/* <div class="conversation">
  <form class="conversation-compose">
    <div class="emoji">
      <SmileyIcon />
    </div>
    <input class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus></input>
    <button class="send">
        {this.state.empty ? <RecordIcon className="pull-right" /> : <SendIcon className="pull-right" onClick={this.sendMessage} />}
    </button>
  </form>
</div> */
